# This is a sample configuration for generic NVM prototype

-DesignTarget: RAM

-ProcessNode: 22

-Capacity (KB): 128
-WordWidth (bit): 128

-DeviceRoadmap: HP

-LocalWireType: LocalAggressive
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No

-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

-Routing: H-tree
-InternalSensing: true

-MemoryCellInputFile: sample_STTRAM.cell
//-MemoryCellInputFile: sample_RRAM.cell
//-MemoryCellInputFile: sample_STTRAM_aggressive.cell

-Temperature (K): 350

-BufferDesignOptimization: latency

-ForceBank (Total AxB, Active CxD): 1x1, 1x1
-ForceMat (Total AxB, Active CxD): 2x2, 2x2
-ForceMuxSenseAmp: 16 
-ForceMuxOutputLev1: 1 
-ForceMuxOutputLev2: 1


